<footer class="uk-grid" data-uk-grid-margin>
<div class="uk-width-1-1">
	<div class="uk-vertical-align uk-text-center uk-panel uk-panel-box" style="height: 200px">
		<div class="uk-vertical-align-middle uk-width-1-2">
			<p>Copyright &copy; lain-dono <small>&lt;lain.dono at gmail.com&gt;</small>
			<a href="http://www.wtfpl.net/"><img
			src="{{ site.url }}/img/wtfpl-80x15.png"
			width="80" height="15" alt="WTFPL" /></a>
			<a href="http://creativecommons.org/licenses/by-sa/3.0/"><img
			src="{{ site.url }}/img/by-sa-80x15.png"
			width="80" height="15" alt="CC-BY-SA" /></a>
			</p>
		</div>
	</div>
</div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ site.url }}/js/vendor/jquery-1.9.0.min.js"><\/script>')</script>
<script src="{{ site.url }}/js/uikit.min.js"></script>
<script src="{{ site.url }}/js/plugins.js"></script>
<script src="{{ site.url }}/js/main.js"></script>
