<header class="uk-width-1-4 uk-panel uk-panel-box uk-text-center" data-uk-sticky="">
	<p><img width="140" height="140" class="uk-border-circle" src="https://secure.gravatar.com/avatar/7f3a34c2bb7c71dc373c8cd4b49e7a02?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"></p>
	<h2>Lain dono</h1>
	<p>
		<a data-uk-tooltip title="MyAnimeList" href="http://myanimelist.net/animelist/lain-dono"><img src="img/mal.ico" width="16"></a>
		<a data-uk-tooltip title="GitHub" href="https://github.com/lain-dono"><img src="img/git.ico" width="16"></a>
		<a data-uk-tooltip title="BitBucket" href="https://bitbucket.org/lain-dono/"><img src="img/bb.ico" width="16"></a>
		<a data-uk-tooltip title="Twitter" href="https://twitter.com/lain_dono"><img src="img/tw.ico" width="16"></a>
	</p>
</header>
<!--[if lt IE 9]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->
